<div class="content" style="background:-webkit-linear-gradient(top, rgba(239,239,244,0) 240px, rgba(239,239,244,1) 320px),url(img/header2.png) no-repeat center top fixed;  background:-moz-linear- gradient(top, rgba(239,239,244,0) 240px, rgba(239,239,244,1) 320px),url(img/header1.png) no-repeat center top fixed;background: linear-gradient(to top, rgba(239,239,244,0) 240px, rgba(239,239,244,1) 320px),url(img/header1.png) no-repeat auto center top fixed; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%;">
	<div style="margin-top: 150px;" class="card">	
	  <ul class="table-view">
		<li class="table-view-cell">
			<a class="navigate-right btn-lg" href="#promo">
				<span class="media-object icon fa fa-lg fa-bullhorn pull-left"></span>
				<div class="media-body" translate>
					load.home.BtnPromo
				</div>
			</a>
		</li>
		<li class="table-view-cell">
			<a class="navigate-right btn-lg" href="#bestSeller">
				<span class="media-object icon fa fa-lg fa-bar-chart pull-left"></span>
				<div class="media-body" translate>
					load.home.BtnBestSeller
				</div>
			</a>
		</li>
		<li class="table-view-cell">
			<a class="navigate-right btn-lg" href="#category">
				<span class="media-object fa-lg icon icon-list pull-left"></span>
				<div class="media-body" translate>
					load.home.BtnCategory
				</div>
			</a>
		</li>
		<li class="table-view-cell">
			<a class="navigate-right btn-lg" href="#contact">
				<span class="media-object icon fa fa-lg fa-phone pull-left"></span>
				<div class="media-body" translate>
					load.home.BtnContact
				</div>
			</a>
		</li>
		<li class="table-view-cell">
			<a class="navigate-right btn-lg" href ng-click="goShare()">
				<span class="media-object icon fa fa-lg fa-share-alt pull-left"></span>
				<div class="media-body" translate>
					load.home.Btnshare
				</div>
			</a>
		</li>
		<li class="table-view-cell">
			<a class="navigate-right btn-lg" href ng-click="goExit()">
				<span class="media-object icon fa fa-lg fa-sign-out pull-left"></span>
				<div class="media-body" translate>
					load.home.BtnExit
				</div>
			</a>
		</li>
	  </ul>
	</div>
</div>
<div class="bar bar-standard bar-footer-secondary">
	<a href="#search" class="btn btn-primary btn-block pull-center">
		<span class="fa fa-filter fa-fw"></span> 
		Search Menu
	</a>
</div>