.slideLeft.ng-enter, .slideLeft.ng-leave, .slideRight.ng-enter, .slideRight.ng-leave {
    -webkit-transition:all 1s;
    transition:all 1s;
}

.slideLeft.ng-enter {
    left:100%;
}

.slideLeft.ng-enter.ng-enter-active {
    left:0;
}

.slideLeft.ng-leave.ng-leave-active {
    left:-100%;
}

.slideRight.ng-enter {
    left:-100%;
}

.slideRight.ng-enter.ng-enter-active {
    left:0;
}

.slideRight.ng-leave.ng-leave-active {
    left:100%;
}

.sliders {
	width: 100%;
}

input[type="range"] {
	-webkit-appearance: none !important;
	width: 100%;
	height: 15px;
	background-color: #a9acb1;
	/* background-color: #017afd;*/
	border: 1px solid #97c68b;
	border-radius: 10px;
	margin: auto;
	transition: all 0.3s ease;
}

input[type="range"]:hover {
	background-color: #b2d5aa;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	background-color: #fff;
	border-radius: 100%;
	cursor: move;
	height: 30px;
	width: 30px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	transition: all 0.5s ease;
}

input[type="range"]::-webkit-slider-thumb:hover {
	background-color: #457d66;
}

input[type="range"]::-webkit-slider-thumb:active {
	box-shadow: 0px 0px 1px #3c6d59;
}

.rangevalue {
	text-align: center;
	font-family: "Quantico", sans-serif;
	font-size: 18px;
	display: block;
	margin: auto;
	padding: 10px 0px;
	width: 100%;
	color: #579E81;
}